.modal_window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
} 
    
.modal-content{
    display: block;
    background-color: #ffffff;
    padding: 8px;
    width: 95%;
    max-width: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} 

.modal-content textarea{
    font-size: 16px;
    width: 100%;
    height: 300px;
    display: block;
}

.modal-content input[type="submit"]{
    margin-top: 24px;
    width: 100%;
}

